
<h1>Upload a Picture</h1>

<%= form_for(@picture) do |f| %>
  <h3>1. Pick a Picture</h3>
  <%= f.file_field :picture %>
  <h3>2. Describe It!</h3>
  <div><%= f.label :caption %><br />
    <%= f.text_field :caption %></div>

  <div><%= f.label :description %><br />
    <%= f.text_area :description %></div>


  <div><%= f.submit "Upload Picture!", { id: "commit" } %></div>
<% end %>
