<!DOCTYPE html>
<html>
<head>
  <title>ExampleRailsImageGallery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <a id="create_account" href="<%= new_user_registration_path %>">Create an Account</a>
  <a id="sign_in" href="<%= new_user_session_path %>">Sign in</a>
  <%= link_to('Sign out', destroy_user_session_path, method: :delete, id: :sign_out) %>
</nav>

<% [:notice, :alert].each do |type| %>
  <%= render partial: "shared/flash", locals: { type: type } %>
<% end %>

<%= yield %>

</body>
</html>
