<!DOCTYPE html>
<html>
<head>
  <title>ExampleRailsImageGallery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= render partial: nav_partial %>
</nav>

<% [:notice, :alert].each do |type| %>
  <%= render partial: "shared/flash", locals: { type: type } %>
<% end %>

<%= yield %>

</body>
</html>
