<!DOCTYPE html>
<html>
<head>
  <title>ExampleRailsImageGallery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <% if user_signed_in? %>
    <%= link_to('Sign out', destroy_user_session_path, method: :delete, id: :sign_out) %>
  <% else %>
    <%= link_to("Create an Account", new_user_registration_path, id: :create_account) %>
    <%= link_to("Sign in", new_user_session_path, id: :sign_in) %>
  <% end %>
</nav>

<% [:notice, :alert].each do |type| %>
  <%= render partial: "shared/flash", locals: { type: type } %>
<% end %>

<%= yield %>

</body>
</html>
